*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body{
    display: flex;
    width: 100%;
    height: auto;
    background: linear-gradient(to left, #002204, #295721);
}
.container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.header{
    position: fixed;
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    height: 50px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    top: 0;
}
.head1{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
}
.head2{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    color: #fff;
}

.kanan{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100vh;
    background-color: transparent;
    right: 0;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 95%;
    border-radius: 20px;
    background-color: #42733a;
}
.btnnav{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
    border: none;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    gap: 10px;
}
.btnnav:hover{
    background-color: #3a6733;
}
.btnnav:active{
    opacity: 0.5;
}
.btnnavlo{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
    border: none;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    text-decoration: none;
    gap: 10px;

}
.btnnavlo:hover{
    background-color: #3a6733;
}
.btnnavlo:active{
    opacity: 0.5;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    padding-top: 50px;
    color: #ffffff;
}

.cpr{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100px;
}
table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    color: #000;
    background-color: #eeeeee;
    border-radius: 20px;
    font-size: 14px;
}

th {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
td {
    text-align: center;
    padding: 20px;
}
.tdname {
    text-align: start;
    padding: 20px;
}

.tdbtn{
    display: flex;
    gap: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.tadd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0 solid;
    padding: 10px;
    background-color: #42733a;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    gap: 10px;
}
.tadd:hover{
    background-color: #3a6733;
}
.tadd:active{
    opacity: 0.5;
}
.tview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 0 solid;
    padding: 12px 6px 12px 12px;
    background-color: #914804;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    gap: 5px;
}
.tview:hover{
    background-color: #6f3601;
}
.tview:active{
    opacity: 0.5;
}
.tupd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 0 solid;
    padding: 12px 8px 12px 12px;
    background-color:#5c71f9;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    gap: 5px;
}
.tupd:hover{
    background-color: #5264da;
}
.tupd:active{
    opacity: 0.5;
}

.tdlt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 0 solid;
    padding: 12px 6px 12px 12px;
    background-color: #bd0000;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    gap: 5px;
}
.tdlt:hover{
    background-color: #af0101;
}
.tdlt:active{
    opacity: 0.5;
}

.search{
    display: flex;
    width: 200px;
    border: 2px solid #fff;
    background: transparent;
    padding: 4px 15px;
    border-radius: 20px;
}
.search1{
    width: 100%;
    border: none;
    background: transparent;
    font-size: 12px;
    padding: 2px;
    outline: none;
    color: #fff;
  }
.btnsrch{
    display: flex;
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}  

.btnsrch:hover{
    color: #dcdcdc;
}
.btnsrch:active{
    opacity: 0.5;
}

.search1[type=text]::placeholder{
    color: #dcdcdc;
}